<tr class="<%= cycle("even", "odd") %>">
  <td><%= admin_item_link(weighted.item, admin) %></td>
  <td><%=h weighted.item.category %></td>
  <td><%=h weighted.item.description %></td>
  <td><%=h weighted.item.requester %></td>
  <td align="right"><%= weighted.item.quant_bacich %></td>
  <td align="right"><%= weighted.item.quant_kent %></td>
  <td align="right"><%= weighted.item.quant_district %></td>
  <td align="right"><%= weighted.item.quant_total %></td>
  <td align="right"><%= fmt_dollars(weighted.item.unit_cost) %></td>
  <td align="right"><%= fmt_dollars(weighted.item.total_cost) %></td>
  <td><%= weighted.item.recurs_annually ? 'Yes' : 'No' %></td>
  <td><%=h weighted.item.special_funding %></td>
  <td><%= rank_to_s(weighted.item.average_rank) %></td>
<% if weighting -%>
  <td><%= rank_to_s(weighted.weighted_rank) %></td>
<% end -%>
  <td><%= weighted.item.vote_count %></td>
</tr>