<h1>Editing line item</h1>

<%= error_messages_for :item %>

<% form_for(@item) do |f| %>
  <p>
    <b>Position</b><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <b>Category</b><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <b>Description</b><br />
    <%= f.text_field :description, :size => 80 %>
  </p>
  <p>
    <b>Bacich Quant.</b><br />
    <%= f.text_field :quant_bacich %>
  </p>
  <p>
    <b>Kent Quant.</b><br />
    <%= f.text_field :quant_kent %>
  </p>
  <p>
    <b>District Quant.</b><br />
    <%= f.text_field :quant_district %>
  </p>
  <p>
    <b>Unit Cost</b><br />
    <%= f.text_field :unit_cost %>
  </p>
  <p>
    <b>Recurring Cost?</b><br />
    <%= f.select :recurs_annually, [ ["No", 0], ["Yes", 1] ] %>
  </p>
  <p>
    <b>Special Funding Source</b><br />
    <%= f.text_field :special_funding %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', budget_items_path(:admin => 1) %>
