<h1>Listing reports</h1>

<table>
  <tr>
    <th>Notes</th>
    <th>Cutoff low</th>
    <th>Cutoff medium</th>
    <th>Discount cost</th>
    <th>Discount points</th>
  </tr>

<% for report in @reports %>
  <tr>
    <td><%=h report.notes %></td>
    <td><%=h report.cutoff_high %></td>
    <td><%=h report.cutoff_medium %></td>
    <td><%=h report.discount_cost %></td>
    <td><%=h report.discount_points %></td>
    <td><%= link_to 'Show', report %></td>
    <td><%= link_to 'Edit', edit_report_path(report) %></td>
    <td><%= link_to 'Destroy', report, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New report', new_report_path %>
